p{
    font-size: medium;
}

.calculator-list a:not([href]):not([tabindex]):hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.calculator-list a:not([href]):not([tabindex]){
    color: blue;
}

.calc-col{
    padding-left: 0px;
    padding-right: 0px;
}