.breadcrumb-item{
    padding-left: 6px;
}

.breadcrumb-item{
    font-size: large;
}

.breadcrumb-item{
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}

.tab-col{
    padding-left: 0px;
    padding-right: 0px;
}